*{
    
    box-sizing: border-box;
    font-family: sans-serif;
  }


code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

#navbar {
    position: fixed;
    border-right: solid;
    border-color: teal;
    height: 100%;
    margin-right: 30px;

}


#navbar li {
    color: teal;
    border-top: solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 25px 30px;
    color: slategrey;
}

#main-doc {
    position: absolute;
    margin-left: 230px;
    padding: 20px;
}

.last_link {
border-bottom: solid;
}

.html_header {
        font-size: 25px;
        color: #00b27a;
        font-family: Times New Roman, sans-serif;
        text-shadow: 0px 0px 0 rgb(-64,114,58),
                     0px 1px 0 rgb(-127,51,0),
                     0px 2px 0 rgb(-191,-13,0),
                     0px 3px 0 rgb(-255,-77,0),
                     0px 4px  0 rgb(-319,-141,0),
                     0px 5px 4px rgba(0,0,0,0.97),
                     0px 5px 1px rgba(0,0,0,0.5),
                     0px 0px 4px rgba(0,0,0,.2);
     }

.reflective_header {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom,  from(transparent), color-stop(25%, transparent), to(#FFFFFF));
	font-size: 50px;
	font-family: Arial Black, Gadget, sans-serif;
	color: #000000;
	font-weight: bold;
    margin-bottom: 100px;
}
   
.versions {
    list-style: square;
}

#other_technologies {
    box-sizing: content-box;
    margin-top: 50px;
    border-style: ridge;
    border-color: teal;
    background: radial-gradient(teal, skyblue);
    padding-left: 10px;
}

#hypertext {
    margin-top: 50px;
    border-style: ridge;
    border-color: teal;
    background: radial-gradient(teal, skyblue);
    padding-left: 10px;
}


#markup {
    margin-top: 50px;
    border-style: ridge;
    border-color: teal;
    background: radial-gradient(teal, skyblue);
    padding-left: 10px;
}

#html_element {
    margin-top: 50px;
    border-style: ridge;
    border-color: teal;
    background: radial-gradient(teal, skyblue);
    padding-left: 10px;
}

#html_timeline {
    margin-top: 50px;
    background: radial-gradient(teal, skyblue);
    border-style: ridge;
    border-color: teal;
    padding-left: 10px;
}

@media only screen and (max-width: 500px) {
    body {
      background-color: hotpink;
    }
  }